<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.dota2info">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClarityActivity"
            android:label="Clarity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SmokeOfDeceitActivity"
            android:label="Smoke of Deceit"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".TownPortalScroolActivity"
            android:label="Town Portal Scrool"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ObserverWardActivity"
            android:label="Observer Ward"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".FaerieFireActivity"
            android:label="Faerie Fire"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AnimalCourierActivity"
            android:label="Animal Courier"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EnchantedMangoActivity"
            android:label="Enchanted Mango"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SentryWardActivity"
            android:label="Sentry Ward"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HealingSalveActivity"
            android:label="Healing Salve"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".TangoActivity"
            android:label="Tango"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".TomeOfKnowledgeActivity"
            android:label="Tome of Knowledge"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DustOfAppearanceActivity"
            android:label="Dust of Appearance"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".FlyingCourierActivity"
            android:label="Flying Courier"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BottleActivity"
            android:label="Bottle"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".IronBranchActivity"
            android:label="Iron Branch"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".GauntletsOfStrengthActivity"
            android:label="Gauntlets of Strength"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MantleOfIntelligenceActivity"
            android:label="Mantle of Intelligence"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SlippersOfAgilityActivity"
            android:label="Slippers of Agility"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CircletActivity"
            android:label="Circlet"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BandOfElvenskinActivity"
            android:label="Band of Elvenskin"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BeltOfStrengthActivity"
            android:label="Belt of Strength"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RobeOfTheMagiActivity"
            android:label="Robe of the Magi"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BladeOfAlacrityActivity"
            android:label="Blade of Alacrity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".OgreClubActivity"
            android:label="Slippers of Agility"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".StaffOfWizardryActivity"
            android:label="Staff of Wizardry"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RingOfProtectionActivity"
            android:label="Ring of Protection"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".QuellingBladeActivity"
            android:label="Quelling Blade"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".StoutShieldActivity"
            android:label="Stout Shield"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".InfusedRaindropActivity"
            android:label="Infused Raindrop"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".OrbOfVenomActivity"
            android:label="Orb of Venom"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BlightStoneActivity"
            android:label="Blight Stone"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BladesOfAttackActivity"
            android:label="Blades of Attack"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ChainmailActivity"
            android:label="Chainmail"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".QuarterstaffActivity"
            android:label="Quarterstaff"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HelmOfIronWillActivity"
            android:label="Helm of Iron Will"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BroadswordActivity"
            android:label="Broadsword"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ClaymoreActivity"
            android:label="Claymore"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".JavelinActivity"
            android:label="Javelin"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MithrilHammerActivity"
            android:label="Mithril Hammer"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MagicStickActivity"
            android:label="Magic Stick"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".WindLaceActivity"
            android:label="Wind Lace"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RingOfRegenActivity"
            android:label="Ring of Regen"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SageMaskActivity"
            android:label="Sage's Mask"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BootsOfSpeedActivity"
            android:label="Boots of Speed"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".GlovesOfHasteActivity"
            android:label="Gloves of Haste"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CloakActivity"
            android:label="Cloak"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RightOfHealthActivity"
            android:label="Right of Health"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".VoidStoneActivity"
            android:label="Void Stone"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".GemOfTrueSightActivity"
            android:label="Gem of True Sight"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MorbidMaskActivity"
            android:label="Morbid Mask"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ShadowAmuletActivity"
            android:label="Shadow Amulet"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".GhostScepterActivity"
            android:label="Ghost Scepter"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BlinkDaggerActivity"
            android:label="Blink Dagger"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EnergyBoosterActivity"
            android:label="Energy Booster"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".VitalityBoosterActivity"
            android:label="Vitality Booster"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PointBoosterActivity"
            android:label="Point Booster"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PlatemailActivity"
            android:label="Platemail"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".TalismanOfEvasionActivity"
            android:label="Talisman of Evasion"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HyperstoneActivity"
            android:label="Hyperstone"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".UltimateOrbActivity"
            android:label="Ultimate Orb"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DemonEdgeActivity"
            android:label="Demon Edge"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MysticStaffActivity"
            android:label="Mystic Staff"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ReaverActivity"
            android:label="Reaver"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EaglesongActivity"
            android:label="Eaglesong"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SacredRelicActivity"
            android:label="Sacred Relic"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MagicWandActivity"
            android:label="Magic Wand"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".NullTalismanActivity"
            android:label="Null Talisman"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".WraithBandActivity"
            android:label="Wraith Band"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BracerActivity"
            android:label="Bracer"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PoorMansShieldActivity"
            android:label="Poor Man's Shield"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SoulRingActivity"
            android:label="Soul Ring"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PhaseBootsActivity"
            android:label="Phase Boots"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PowerTreadsActivity"
            android:label="Power Treads"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".OblivionStaffActivity"
            android:label="Oblivion Staff"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PerseveranceActivity"
            android:label="Perseverance"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HandOfMidasActivity"
            android:label="Hand of Midas"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BootsOfTravelActivity"
            android:label="Boots of Travel"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MoonShardActivity"
            android:label="Moon Shard"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".IronTalonActivity"
            android:label="Iron Talon"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RingOfBasiliusActivity"
            android:label="Ring of Basilius"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HeaddressActivity"
            android:label="Headdress"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BucklerActivity"
            android:label="Buckler"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".UrnOfShadowsActivity"
            android:label="Urn of Shadows"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".TranquilBootsActivity"
            android:label="Tranquil Boots"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RingOfAquilaActivity"
            android:label="Ring of Aquila"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MedallionOfCourageActivity"
            android:label="Medallion of Courage"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ArcaneBootsActivity"
            android:label="Arcane Boots"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DrumOfEnduranceActivity"
            android:label="Drum of Endurance"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".VladmirsOfferingActivity"
            android:label="Vladmirs Offering"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MekansmActivity"
            android:label="Mekansm"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PipeOfInsightActivity"
            android:label="Pipe of Insight"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".GuardianGreavesActivity"
            android:label="Guardian Greaves"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".GlimmerCapeActivity"
            android:label="Glimmer Cape"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ForceStaffActivity"
            android:label="Force Staff"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".VeilOfDiscordActivity"
            android:label="Veil of Discord"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AetherLensActivity"
            android:label="Aether Lens"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SolarCrestActivity"
            android:label="Solar Crest"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".NecronomiconActivity"
            android:label="Necronomicon"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DagonActivity"
            android:label="Dagon"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EulsScepterOfDivinityActivity"
            android:label="Eul's Scepter of Divinity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RodOfAtosActivity"
            android:label="Rod of Atos"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".OrchidMalevolenceActivity"
            android:label="Orchid Malevolence"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AghanimsScepterActivity"
            android:label="Aghanim's Scepter"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RefresherOrbActivity"
            android:label="Refresher Orb"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ScytheOfVyseActivity"
            android:label="Scythe of Vyse"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".OctarineCoreActivity"
            android:label="Octarine Core"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HoodOfDefianceActivity"
            android:label="Hood of Defiance"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".VanguardActivity"
            android:label="Vanguard"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BladeMailActivity"
            android:label="Blade Mail"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SoulBoosterActivity"
            android:label="Soul Booster"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CrimsonGuardActivity"
            android:label="Crimson Guard"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BlackKingBarActivity"
            android:label="Black King Bar"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LotusOrbActivity"
            android:label="Lotus Orb"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HurricanePikeActivity"
            android:label="Hurricane Pike"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ShivasGuardActivity"
            android:label="Shiva's Guard"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BloodstoneActivity"
            android:label="Bloodstone"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LinkensSphereActivity"
            android:label="Linken's Sphere"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MantaStyleActivity"
            android:label="Manta Style"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HeartOfTarrasqueActivity"
            android:label="Heart of Tarrasque"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AssaultCuirassActivity"
            android:label="Assault Cuirass"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CrystalysActivity"
            android:label="Crystalys"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ArmletOfMordiggianActivity"
            android:label="Armlet of Mordiggian"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ShadowBladeActivity"
            android:label="Shadow Blade"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SkullBasherActivity"
            android:label="Skull Basher"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BattleFuryActivity"
            android:label="Battle Fury"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EtherealBladeActivity"
            android:label="Ethereal Blade"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RadianceActivity"
            android:label="Radiance"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MonkeyKingBarActivity"
            android:label="Monkey King Bar"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DaedalusActivity"
            android:label="Daedalus"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ButterflyActivity"
            android:label="Butterfly"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SilverEdgeActivity"
            android:label="Silver Edge"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DivineRapierActivity"
            android:label="Divine Rapier"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AbyssalBladeActivity"
            android:label="Abyssal Blade"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BloodthornActivity"
            android:label="Bloodthorn"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DragonLanceActivity"
            android:label="Dragon Lance"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SangeActivity"
            android:label="Sange"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".YashaActivity"
            android:label="Yasha"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MaskOfMadnessActivity"
            android:label="Mask of Madness"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HelmOfTheDominatorActivity"
            android:label="Helm of the Dominator"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EchoSabreActivity"
            android:label="Echo Sabre"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MaelstormActivity"
            android:label="Maelstorm"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DiffusalBladeActivity"
            android:label="Diffusal Blade"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HeavensHalberdActivity"
            android:label="Heaven's Halberd"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DesolatorActivity"
            android:label="Desolator"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SangeAndYashaActivity"
            android:label="Sange and Yasha"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MjollnirActivity"
            android:label="Mjollnir"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SatanicActivity"
            android:label="Satanic"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EyeOfSkadiActivity"
            android:label="Eye of Skadi"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AegisOfTheImmortalActivity"
            android:label="Aegis of the Immortal"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CheeseActivity"
            android:label="Cheese"
            android:parentActivityName=".MainActivity" ></activity>
    </application>

</manifest>